
/* Definir regra para TODAS as tags <hr> */
hr {
    /* propriedade do CSS 
    Define a cor da borda */
    border-color: green; 
} /* chaves fecha regra*/

body {
    /* Define a fonte do site. 
    Lista de fontes:  https://www.w3.org/Style/Examples/007/fonts.pt_BR.html*/
    font-family: 'calibri'; 
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

/* REGRA aplicada à CLASSE (identificada pelo . no inicio) verde-escuro 
Com a PROPRIEDADE color
*/
.verde-escuro{
    color: #339900;
    /* Propriedade color muda a cor do texto*/
}

/* Regra CSS para Título em maiúsculo */
.titulo{
    /*Propriedade que modifica conteúdo da tag*/
    text-transform: uppercase;
}

.coluna{
    /* Do ingles flutuar 
    A propriedade FLOAT define o 
    fluxo dos elementos na tela
    */
    float: right;
    margin: 5px;
    padding: 10px;
}

/* Sempre serão usadas para alinhar colunas à esquerda */
.coluna-esquerda{
    float: left;
}
/* Sempre serão usadas para alinhar colunas à direita */
.coluna-direita{
    float: right;
}
/* Aplicado a tudo que for necessário colocar como fundo azul. */
.fundo-azul{
    background-color: blue; 
}

/* Regra CSS para classe tabela-links*/
.tabela-links{
    /* dotted é pontilhado em ingles */
    /* border é uma regra que aceita 3 parâmetros */
    border: black dotted 1px;
}

/* Regra css para TH DENTRO de classe tabela-links */
/* Herança no CSS */
.tabela-links th{
    background-color: #EEEEEE;
}

/* 
* significa TUDO 
aplicar regra a TUDO dentro de TR 
que está dentro de .tabela-links
*/
.tabela-links tr td, .tabela-links tr th{
    padding: 10px;
    font-family: 'calibri';
}

.ajuste-img{
    /* Tamanho maximo de 1000px */
    /*width: 100px;*/
    max-width: 300px;
    min-width: 100px;
    /*height significa Altura em inglês*/
    /*height: 500px*/
}

