
/*Remover padrão de margem 
do body*/
body{
    margin: 0;
}

a{
    text-decoration: none;
}
/* ACTIVE é um modificador
para evento de click do mouse*/
a:active{
    color: #ccccff;
}
/* HOVER é um modificador
para quando o mouse passa 
pelo elemento*/
a:hover{
    background-color: #fff; 
}

.container{
    max-width: 800px;
    margin: auto;
    /* trata a tag como um 
    bloco que vai */
    display: block;
}

.menu{
    height: 50px;
    color: white;
    background-color: #5f5ff6;

}
/* link (tag <a>) que estiver
dentro do elemento .menu */
.menu a{
    padding: 10px;
    color: #FFF;
    height: 30px;
    text-transform: uppercase;
    font-weight: 100;
    /* Seja um bloco solido */
    display: block;/* inline*/
    /* flua à esquerda */    
    float: left;
}
.menu a:hover{
    color: #3333ff; 
}

.banner{
    height: 500px;
    background-image: url('imagens/rua.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.banner .titulo{
    color: #FFF;
    text-align: center;
    font-family: 'calibri';
    font-weight: 100;
    width: 100%;
    margin-top: 200px;
    display: block;
    float: left;
}

.bg-image{
    background-image: url('imagens/fundo-3.jpg');
    background-size: 100%;
    background-repeat: repeat;
}
.bg-branco{
    background-color: white;
}
/* Classe para ser reutilizada como secção do site*/ 
.section{
    font-size: 15pt;
    font-family: 'calibri';
    padding: 2%; 
    /* Manter o tamanho de acordo 
    com o conteúdo*/
    display: block;
    float: left;
    /* 100% - 2% - 2% */
    width: 96%;
}

#fundamentos{
    display: block;
    width: 100%;
    padding: 2px;
    height: 170px;
}
/* classe .fundamento DENTRO de id #fundamento*/
#fundamentos .fundamento{
    display: block;
    float: left; 
    width: 33%;
    height: 150px;
    /*padding: 5px; largura aplicada em 
    aos 33% da largura definida acima ADIÇÃO*/
}
#fundamentos .fundamento:hover{
    background-color: #ccccff;
    text-decoration: underline;
}

/* Aplica a todos as tags h5 dentro de #fundamentos*/
#fundamentos h5{
    text-align: center;
    text-transform: uppercase;
}
