*{
    font-family: 'Arial';
}
.linha{
    display: block;
    float: left;
    width: 100%;
    position: relative;
}
.logomarca{
    font-size: 30pt;
}
.logo-r{
    font-weight: 800;
    float: left;
    line-height: 35pt;
}
.logo-l{
    font-weight: 100;
    float: left;
    line-height: 35pt;
}
.contato{
    float: right;
}
#menu{
    float: left;
    width: 100%;
    display: block;
    height: 40px;
    line-height: 40px;

    border-top: #777 2px dotted;
    border-bottom: #777 2px dotted;
}

#menu a{
    text-transform: uppercase;
    color: #888;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
}

.portfolio{
    display: block;
    float: left;
    width: 100%;
}

.img-container{
    display: block;
    float: left;
    width: 350px;
    /*max-height: 200px;*/
    margin: 10px;
    /*border: red 2px solid;*/
    overflow: hidden;
}
.img-container img{
    width: 100%;
}

.aspecto-1{
    width: 300px;
    height: 300px;
}
.aspecto-2{
    width: 400px;
    height: 200px;
}
.delimitalargura{
    width: 800px;
    margin: auto;
}
.textoesquerda{
    display: block;
    float: left;
    width: 350px;
}
.imagem{
    display: block;
    float: left;
    width: 350px;
}
.conteudo{
    width: 100%;
    float: left;
}
.quadro1{
    width: 33%;
    display: block;
    float:left;
}
.comodos{
    display: block;
    float: left;
    width: 49%;
}
.b{
    background-color: #ccffcc
}
.comodos2{
    display: block;
    float: right;
    width: 49%;
}

.item{
    text-align: center;
}