*{
    font-family: 'Arial';
}
body{
    margin: 0;
}



.linha{
    display: block;
    float: left;
    width: 100%;
}
.logomarca{
    font-size: 30pt;
}
.logo-r{
    font-weight: 800;
    float: left;
    line-height: 35pt;
}
.logo-l{
    font-weight: 100;
    float: left;
    line-height: 35pt;
}
.contato{
    float: right;
}
#menu{
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;

    border-top: #777 2px dotted;
    border-bottom: #777 2px dotted;
}

#menu a{
    text-transform: uppercase;
    color: #888;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
}

.portfolio{
    display: block;
    float: left;
    width: 100%;
}

.img-container{
    display: block;
    float: right;
    width: 350px;
    /*max-height: 200px;*/

    /*border: red 2px solid;*/
    overflow: hidden;
}
.img-container img{
    width: 100%;
}

.aspecto-1{
    width: 300px;
    height: 300px;
}
.aspecto-2{
    width: 400px;
    height: 200px;
}
.leo{
    display: block;
    float: left;
    width: 100%;

}
.corpo_pagina{

    width: 800px;
    display: block;
    height: 800px;
    margin: auto;



}
.setor{
    width: 100%;
}
.texto1{
    display: block;
    float: left;
    width: 400px;
    height: 218.75px;


}
.blocos{
    width: 100px;
    height: 100px;
    display: block;
    float: left;
    margin: 80px;
}
.conteudo{
    width: 100%; 
    height: 400px;
    margin-top: 200px;
}
.aaaa{
    width: 100%;
    height: 800px;
    display: block;


}
.setor-principal{
    display: block;
    float: left;
    width: 350px;
    
    
    margin: 50px;


}
.setor-a{
    display: block;
    width: 150px;
    height: 150px;
    margin: 10px;
    
    float: left;

}
.setor-b{
    display: block;
    width: 150px;
    height: 150px;
    margin: 10px;
    
    float: right;
}
.setor-c{
    display: block;
    width: 150px;
    height: 150px;
    margin: 10px;
   
    float: left;
}
.setor-d{
    display: block;
    width: 150px;
    height: 150px;
    margin: 10px;
    
    float: right;
}
#mano{
    text-align: center;
}
.setor-e{
    display: block;
    width: 150px;
    height: 50px;
    
   
}
.jorge{
    text-align: center;
}

